In [2]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
import pathlib

df_17 = pd.read_csv('../data/lpz_2016_2017/processed/labels.csv')
file = pathlib.Path("../data/lpz_2012-2014/lpz_2012-2014/raw/labels_clean.csv") # TODO: replace with absolute path
if not file.exists ():
    print('file doesnt exist')
    df_14 = pd.read_csv('../data/lpz_2012-2014/lpz_2012-2014/raw/labels.csv')

    # Lowercase feature names
    df_14.Species = df_14.Species.apply(lambda x: x.lower())

    # Replace bird species with 'bird'
    labels_replacement_birds = ['house sparrow', 'eurasian collared-dove', 'crow', 'starling', 
                          'yellow-rumped warbler', 'chipping sparrow', 'great horned owl',
                          'american woodcock', 'northern flicker', 'downy woodpecker',
                          'white-throated sparrow', 'great blue heron', 'grackle',
                          "swainson's thrush", 'gray catbird', 'red-tailed hawk',
                          'cardinal', 'hermit thrush', 'american robin',
                          'red winged blackbird', 'pigeon', 'sparrow', 'ring-billed gull',
                          'mallard', 'mourning dove', 'red-winged blackbird',
                          'eurasian collared dove', 'white-crowned sparrow', 'hairy woodpecker',
                          'red winged black bird', 'blue jay', 'song sparrow', 'robin',
                          'brown thrasher'
                               ]
    df_14_clean = df_14.replace(to_replace=labels_replacement_birds, value='bird')

    # Replace 2014 labels to match 2017 df where possible
    replace_map = {'dom dog': 'dog', 'mower': 'lawn mower', 'skunk': 'striped skunk',
                   'coyote ': 'coyote', 'opossum': 'v. opossum', 'deer': 'w. t. deer'}
    df_14_clean = df_14_clean.replace(replace_map)
    df_14_clean = df_14_clean.replace(to_replace=['domestic cat', 'dom cat'], value='cat')

    # Remove unused labels from df_14
    labels_unused = ['bike', 'canada goose', 'not visible', 'duck', '1', 'other vehicle',
                     'car', 'tractor', 'livestock', 'rabbit', 'truck', '`', '10']
    df_14_clean = df_14_clean[~df_14_clean['Species'].isin(labels_unused)]

    # Change label column name
    df_14_clean.rename(columns={'Species': 'label'}, inplace=True)

    df_14_clean.to_csv('../data/lpz_2012-2014/lpz_2012-2014/raw/labels_clean.csv')
else:
    df_14_clean = pd.read_csv('../data/lpz_2012-2014/lpz_2012-2014/raw/labels_clean.csv')

In [3]:
import numpy as np
concat_list = df_14_clean['concatenate'].tolist()

In [4]:
import re
name = "D10-VHC1-WI12 23"
"CHIL - " + '_'.join(re.match("(\S+)(?: )(\d+)", name).groups()) + ".JPG"
new_names = []
excluded_names = []
for i, img in enumerate(concat_list):
    name_chunks = re.match("(\S+)(?: )(\d+)", img)
    if name_chunks is not None:
        new_name = 'CHIL - ' + '_'.join(name_chunks.groups()) + ".JPG"
        new_names.append(new_name)
    else:
        excluded_names.append(img)
        print("nooo")

nooo
nooo
nooo

In [5]:
def get_filename(x):
    name_chunks = re.match("(\S+)(?: )(\S?\d+)", x)
    if name_chunks:
        return 'CHIL - ' + '_'.join(name_chunks.groups()) +".JPG"
    else:
        return "None"

In [6]:
df_14_clean['filename'] = df_14_clean['concatenate'].apply(lambda x: get_filename(x))

In [18]:
df_14_clean.to_csv(str(file))

In [20]:
df_14_clean.head(2)

,Unnamed: 0,Merge,Survey ID,Date,Time,label,Empty,Human,Vehicle,# Individuals,picturename,concatenate,filename_build,duplicate,original,filename
0,0,D10-VHC1-WI12_01/24/2012_6:04,D10-VHC1-WI12,1/24/2012,6:04,coyote,0,0,0,1,23,D10-VHC1-WI12 23,WI12/DPT/D10-VHC1-WI12/D10-VHC1-WI12 (23).JPG,0,1,CHIL - D10-VHC1-WI12_23.JPG
1,1,D10-VHC1-WI12_01/24/2012_6:05,D10-VHC1-WI12,1/24/2012,6:05,coyote,0,0,0,1,24,D10-VHC1-WI12 24,WI12/DPT/D10-VHC1-WI12/D10-VHC1-WI12 (24).JPG,0,2,CHIL - D10-VHC1-WI12_24.JPG

NameError: name 'df_17' is not defined